extends layout

block content
    #appContainer.flex-column
      header
        .container.flex-column.flex-center
          h1 IMDchatroom
          p.light-text In code we unite!
      #mainContent.container.flex-grow-1.flex-column
        // Message page
        section#chat.flex-grow-1.flex-column
          #messagesList.flex-grow-1
          form#messageForm.flex
            input#messageInput.flex-grow-1(type='text', name='message ')
            button#sendBtn Send
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js')
    script(src='app.js ')
