extends layout

block content
  div.app
    div.wrapper
      div.users
        div.your-profile
          img.avatar-psychoalpacapillar.image(src='/img/profile/psychoalpacapillar.jpg')
          p Pysch0Alp4c4pill4r
          div.fakeButtons.settings
        div.online-users
          p.title Online users
        div.users
          div.fakeButtons
            img.avatar.image(src='/img/profile/cheaptrills.png')
          p Cheaptrills
        div.users
          div.fakeButtons
            img.avatar.image(src='/img/profile/iamgoodbytes.png')
          p iamgoodbytes
        div.users
          div.fakeButtons
            img.avatar.image(src='/img/profile/mrPing.png')
          p Mr. Ping
        div.users
          div.fakeButtons
            img.avatar.image(src='/img/profile/wo hop.jpg')
          p Wo Hop
        div.chatbots
          p.title Chatbots
        div.chatbot
          div.fakeButtons
            img.avatar.image(src='/img/profile/imd.png')
          p IMDassistant
      div.chat
        div.message.incoming-message
          p.text Cheaptrills: this is a test message
        div.message.incoming-message
          p.text Cheaptrills: this is a test message
        div.message.incoming-message
          p.text Cheaptrills: this is a test message
        div.message.incoming-message
          p.text Cheaptrills: this is a test message
        div.message.incoming-message
          p.text Cheaptrills: this is a test message
        div.message.incoming-message
          p.text Cheaptrills: this is a test message
        div.message.incoming-message
          p.text Cheaptrills: this is a test message
        div.message.incoming-message
          p.text Cheaptrills: this is a test message