extends layout

block content
  div.app
    div.fakeMenu
      div.fakeButtons.fakeClose
      div.fakeButtons.fakeMinimize
      div.fakeButtons.fakeZoom
    div.wrapper
      div.users
        div.your-profile.avatar-psychoalpacapillar
          p Pysch0Alp4c4pill4r
          div.fakeButtons.settings
        div.online-users
          p.title Online users
        div.users
          div.fakeButtons.avatar
          p Cheaptrills
        div.users
          div.fakeButtons.avatar
          p iamgoodbytes
        div.users
          div.fakeButtons.avatar
          p Mr. Ping
        div.users
          div.fakeButtons.avatar
          p Wo Hop
        div.chatbots
          p.title Chatbots
        div.chatbot
          div.fakeButtons.avatar
          p IMDassistant
      div.chat
        p Chat placed here