doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    link(rel='stylesheet', href='/stylesheets/style-chat.css')

  body
    block content
