extends layout-form

block content
  .container
        h1 Log In
        form(method='POST' action='/login')
          div.form-group
            input(type='text' id='username' name='username' placeholder='username')
          div.form-group
            input(type='password' id='password' name='password' placeholder='password')
          button.btn.btn-primary(type='submit') Log in
          div.link
            a(href='/register') No account yet? Register here