extends layout-form

block content
  .container
      h1 SIGN IN
      form(action='', method='POST')
        .form-group
          input#username(type='text', name='username', placeholder='username')
        .form-group
          input#password(type='password', name='password', placeholder='password')
        a(href='/')
          button#loginBtn.btn.btn-primary(type='submit') Login
      .link
        a(href='/register') No account yet? Sign up here
