extends layout

block content
    .wrapper
        .formLogin
        h2 WELCOME
            .username
                label Username
                textarea#(name="Username", cols="30", rows="10")
            .password
                label Password
                textarea#(name="Password", cols="30", rows="10")
            .btn-login
                input(type="Login")
            
         