extends layout-form

block content
  .container
      h1 SIGN UP
      form(action='', method='POST')
        .form-group
          input#username(type='text', name='username', placeholder='username')
        .form-group
          input#password(type='password', name='password', placeholder='password')
        .form-group
          input#passwordconfirmation(type='password', name='passwordConfirmation', placeholder='password confirmation')
        a(href='/')
          button.btn.btn-primary(type='submit') Sign up
      .link
        a(href='/login') Already an account? Sign in here