body {
  font-family: montserrat, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.main {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*
* === LOGIN PAGE ===
*/

.container {
  text-align: center;
  background: #36393f;
  padding: 15px;
  margin-top: 150px;
  width: 700px;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
}

input {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  text-align:center;
}

.btn {
  background: darkviolet;
  border: none;
  margin-top: 30px;
  width: 260px;
}

.btn:hover {
  background: purple;
}

.link {
  padding-top: 15px;
  text-decoration: none;
  text-align: center;
}

.link a {
  color: white;
  font-size: 1.1em;
}

/*
* === CHAT PAGE ===
*/

.fakeButtons {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  top: 6px;
  left: 6px;
  display: inline-block;
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-auto-rows: minmax(100px, auto);
  background-color: #2f3136;
}
.users {
  grid-column: 1 / 2;
  grid-row: 1 / 10;
  background: #2f3136;
  padding: 5px 0px 0px 5px;
}

.chat {
  grid-column: 2 / 4;
  grid-row: 1 / 10;
  background: #36393f;
  padding: 5px 0px 0px 5px;
}

.your-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.user,
.chatbot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  background-color: purple;
  display: inline-block;
  top: 1px;
  border-radius: 20px;
}
.avatar-psychoalpacapillar {
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 1px;
  border-radius: 10px;
}

.settings {
  background-color: white;
  width: 15px;
  height: 15px;
  display: inline-block;
  top: 1px;
  right: 1px;
}

.title {
  text-decoration: underline;
}

.message {
  width: 40%;
  height: 40px;
  margin: 10px;
  background: #2f3136;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(100px, auto);
}

.message .text {
  margin-left: 5px;
  padding-top: 5px;
}
