body {
  font-family: monospace, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.fakeButtons {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  top: 6px;
  left: 6px;
  display: inline-block;
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-auto-rows: minmax(100px, auto);
}
.users {
  grid-column: 1 / 2;
  grid-row: 1 / 10;
  background: #2f3136;
  padding: 5px 0px 0px 5px;
}

.chat {
  grid-column: 2 / 4;
  grid-row: 1 / 10;
  background: #36393f;
  padding: 5px 0px 0px 5px;
}

.your-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.user,
.chatbot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  background-color: purple;
  display: inline-block;
  top: 1px;
  border-radius: 20px;
}
.avatar-psychoalpacapillar {
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 1px;
  border-radius: 10px;
}

.settings {
  background-color: white;
  width: 15px;
  height: 15px;
  display: inline-block;
  top: 1px;
  right: 1px;
}

.title {
  text-decoration: underline;
}
